:root {
    --branding-color: #c86b85;
    --secondary-color: #f5eee6;
    --third-color: #f2d7ca;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

p {
    font-weight: normal;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero h1 {
    color: var(--branding-color);
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.content-container {
    padding: 160px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--branding-color);
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    background: var(--secondary-color);
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline:hover {
    color: var(--third-color);
}

.project-desciption {
    padding: 120px 60px;
}

.project-desciption h2 {
    color: var(--branding-color);
}

nav {
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: var(--branding-color) !important;
    transition: all 100ms ease-in-out;
    margin: 15px;
}

nav a:hover,
nav li.active a {
    color: var(--third-color) !important;
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }
    h2 {
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }
    .project-desciption {
        padding: 0;
        text-align: center;
    }
}

@media (min-width: 900px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}